@import url('https://fonts.googleapis.com/css2?family=Playwrite+VN:wght@100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 196 46% 21%; /* #1a4c53 */
  --background: 196 46% 21%;
  --primary-foreground: 0 0% 98%; /* #fff */
  --secondary: 178 49% 31%; /* #297573 */
  --secondary-foreground: 0 0% 98%;
  --accent: 43 68% 52%; /* #d1a537 */
  --accent-foreground: 0 0% 98%;
  --foreground: 0 0% 100%;
  --card: 0 0% 100%;
  --card-foreground: 196 46% 21%;
  --popover: 0 0% 100%;
  --popover-foreground: 196 46% 21%;
  --muted: 196 46% 95%;
  --muted-foreground: 196 46% 45%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 196 46% 90%;
  --input: 196 46% 90%;
  --ring: 196 46% 21%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Playwrite VN', sans-serif;
  }
}

@layer utilities {
  .max-w-container {
    @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
  }
  .animate-view {
    animation-timeline: view();
    animation-range: entry 0% cover 45%;
  }
  .animate-middle {
    animation-timeline: view();
    animation-range: entry 0% cover 70%;
  }
}
